<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="content">
        <f:if condition="{unreadnews}">
            <f:then>
                <f:widget.paginate objects="{unreadnews}" as="paginatedNews" configuration="{itemsPerPage: settings.list.paginate.itemsPerPage, insertAbove: settings.list.paginate.insertAbove, insertBelow: settings.list.paginate.insertBelow, maximumNumberOfLinks: settings.list.paginate.maximumNumberOfLinks}">
                    <f:for each="{paginatedNews}" as="unreadnewsItem" iteration="i">
                        <f:render partial="Unreadnews/ListItem" arguments="{unreadnewsItem: unreadnewsItem, settings: settings}" />
                    </f:for>
                </f:widget.paginate>

                <script type="text/javascript">
                    (function($){
                        // Remove unread information for news record
                        $('.remove-unread').click(function(e) {
                            var href = this.href,
                                hrefAjax = '/index.php?type=120719&newsUid='+$(this).data('uid'),
                                target = $(this).attr('target');

                            // if link is not opened in new window, call ajax and then follow link!
                            if (target != '_blank') {
                                e.preventDefault();
                                $.get(hrefAjax, function( data ) {
                                    window.location = href;
                                });
                            } else {
                                $.get(hrefAjax);
                            }
                        });
                    })(jQuery);
                </script>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </f:section>
</html>